ul, li {
    list-style-type: none;
    padding: 0;
}


.App {
    text-align: center;
    position: relative;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto Mono', monospace;


}
h1 {
    font-weight: 100;
    font-size: 90px;
    margin-bottom:0 ;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.technical-div {
    border: #282c34 solid 3px;
    width: 500px;
    margin: 50px auto;
}

.launch-buttons {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}



